@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Marketplace</h1>
<h2>
    For an in-depth user guide check out the following link:
    <a href="https://docs.google.com/document/d/1JjPQwvIBpOL3ZiPc5bo2h-v-Mz5gklRk/edit?usp=sharing&ouid=115962600275785890086&rtpof=true&sd=true">
        Guide
        </a>
</h2>

