@page "/MyPosts"
@using System.Security.Claims

<h3>My Posts</h3>
<p>Here are your posts</p>
<AuthorizeView>
    <Authorized>
        <h3>Hello @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>
